.showing-more{
	height: 40px;
}
nav{
	background: #fff;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.pagination{
	padding: 5px;
}
nav ul{
	margin-bottom: 0;
}
.page-item{
	padding: 5px;
}
.page-link{
	border: none;
	background-color: #ddd;
	border-radius: 5px;
	color: #565c61;
}
.active{
	background-color: #792128;
	color: #fff;
}

@media only screen and (min-width: 999px){
    .ex-padding{
        padding: 180px 0px 20px 0px;
    }
}