.left-side {
    height: auto;
    background-image: url(../img/marcent_bg.png);
    background-size: cover;
    background-position: 50%;
    padding-top: 190px;
    padding-bottom: 470px;
    display: inline-block;
}
@media only screen and (min-width: 999px) {
  	body{
		overflow: unset;
	}
}
@media only screen and (max-width: 768px) {
  	.left-side {
  		padding-top: 100px;
    	padding-bottom: 100px;
  	}
}